/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*bc2020*/

.menu-item .menu-link.disabled {
    color: #C0C0C0 !important;
}

.disabled {
    color: #C0C0C0 !important;
}

.section-colored {
    background-color: #BC2020D1 !important;
}

.section-colored h3 {
    color: #fff;
}

/*.button-black:not(.button-border) {
    background-color: #ff6c00 !important;
}*/